table {
    margin-left: 2;
    margin-right: auto;
    margin-bottom: 24px;
    border-spacing: 0;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    page-break-inside: avoid;

}
table th {
    padding: 3px 10px;
    background-color: gray;
    border: 1px solid black;
    page-break-inside: avoid;

}
table td {
    padding: 3px 10px;
    border: 1px solid black;
    page-break-inside: avoid;
}

